# ==========================================
# Специфичные папки проекта Supramol
# ==========================================
# Временные файлы запусков и расчетов (xTB, CREST, Vina)
run/

# Итоговые SDF/XYZ результаты 
result/


# ==========================================
# Стандартные файлы Python и кэш
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Окружения (если создаете venv внутри папки проекта)
.venv/
venv/
ENV/
env/

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db